.inicio {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 90px auto 30px auto;
    padding: 20px;
    z-index: 1000;

    .selfimage {
        display: flex;
        flex: 1;
        align-items: center;
        padding-right: 20px;

        img {
            width: 100%;
            border-radius: 45%;
            transition: all 500ms ease-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .nome {
        flex: 2;

        h2 {
            font-size: 45px;
            text-align: center;
            color: var(--azul-marinho);
            font-family: Brush Script MT;
            margin-bottom: 20px;
        }

        p {
            font-family: Comic Sans MS, Comic Sans, cursive;
            font-size: 18px;
            text-align: justify;
            margin-bottom: 18px;
            color: var(--azul-marinho);
        }
    }

    .contato {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex: 1;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;

            i {
                font-size: 50px;
            }
        }

        .linkedin {
            color: #0a66c2;
        }

        .github {
            color: #000;
        }
    }
}

.projetos {
    background-color: var(--azul-marinho);
    padding: 15px;

    .projeto-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 800px;
        margin: 20px auto 20px auto;
        padding: 25px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            margin-bottom: 15px;
        }

        h3 {
            text-align: center;
            font-family: Consolas;
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        p {
            font-family: Consolas;
            text-align: justify;
            font-size: 18px;
            margin-bottom: 25px;

            a {
                color: rgb(10, 99, 243);
            }
        }

        .ver-projeto {
            font-size: 20px;
            color: white;
            background-color: rgb(0, 38, 255);
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 6px;
            margin-bottom: 15px;
        }

        .ver-repositorio {
            color: rgb(10, 99, 243);
            font-size: 18px;
        }
    }
}