/* .fundo-azul{
    background-color: var(--azul-marinho);
} */

.inicio {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 90px auto 30px auto;
    padding: 20px;
    z-index: 1000;
}

.inicio .selfimage, .inicio .contato {
    flex: 1;
}

.inicio .selfimage {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.inicio .selfimage img{
    width: 100%;
    border-radius: 45%;
    transition: all 500ms ease-out;
}

.inicio .selfimage img:hover {
    transform: scale(1.1);
}

.inicio .nome {
    flex: 2;
}

.inicio .nome h2{
    font-size: 45px;
    text-align: center;
    color: var(--azul-marinho);
    font-family: Brush Script MT;
    margin-bottom: 20px;
}

.inicio .nome p {
    font-size: 18px;
    text-align: justify;
}

.inicio .contato {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inicio .contato a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio .contato a {
    text-decoration: none;
}

.inicio .contato a i {
    font-size: 50px;
}

.inicio .contato .linkedin {
    color: #0a66c2;
}

.inicio .contato .github {
    color: #000;
}

.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 20px auto 20px auto;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}

.projeto img {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.projeto h3 {
    text-align: center;
    font-family: Consolas;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.projeto p {
    font-family: Consolas;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 25px;
}

.projeto p a {
    color: rgb(10, 99, 243);
}

.projeto .ver-projeto {
    font-size: 20px;
    color: white;
    background-color: rgb(0, 38, 255);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 15px;
}

.projeto .ver-repositorio {
    color: rgb(10, 99, 243);
    font-size: 18px;
}